/* src/Login.module.css */

.boxm{
  display: flex;
  flex-direction: row;
}
.imgc{
  width: 50vw;
  height: 100vh;
}
.login_container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  width: 100%;
  max-width: 400px;
  margin: 90px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-group {
  padding: 1em;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 90%;
}


label {
  display: block;
  margin-bottom: 8px; /* Adjusted margin for labels */
  font-weight: bold; /* Added bold font-weight for labels */
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s; /* Added smooth transition for better user experience */
}

.input-field:focus {
  outline: none;
  border-color: #4caf50; /* Change border color on focus */
}

.login-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s; /* Added smooth transition for button hover effect */
}

.login-btn:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

  /* src/Register.module.css */
.register-container {
  max-width: 400px;
  margin: 90px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #2980b9;
}



.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* New style for error border */
.error-border {
  border-color: #e74c3c;
}

.register-btn {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #2980b9;
}

/* New styles for error message */
.error-message {
  color: #e74c3c;
  margin-top: 5px;
  font-size: 14px;
}

.red{
  border:2px solid red;
  width: 90%;
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
}

